<h1>Pending Mentorships</h1>
<ul>
<% @mentorships.where("status = 'pending' OR status = 'requested'").each do |mentorship| %>
  <li><%= mentorship.friend.first_name + ' ' +mentorship.friend.last_name %>
  <% if mentorship.status == 'pending' %>
    <%= link_to "Cancel Request", mentorship_path(mentorship, id: mentorship.friend.id), method: :delete %>
  <% else %>
    <%= link_to "Deny Request", mentorship_path(mentorship, id: mentorship.friend.id), method: :delete %>
  <% end %>
  <%= link_to "Accept Request", mentorship_path(mentorship, id: mentorship.friend.id), method: :put %></li>
<% end %>
</ul>

<h1>My Mentors</h1>
<ul>
  <% @mentorships.where("status = 'accepted' AND giving_mentorship = true").each do |mentorship| %>
    <li><%= mentorship.friend.first_name + ' ' +mentorship.friend.last_name %></li>
  <% end %>
</ul>

<h1>My Mentorees</h1>
<ul>
  <% @mentorships.where("status = 'accepted' AND giving_mentorship = false").each do |mentorship| %>
    <li><%= mentorship.friend.first_name + ' ' +mentorship.friend.last_name %>
      <%= link_to "End Mentorship", mentorship_path(mentorship, id: mentorship.friend.id), method: :delete %></li>
  <% end %>
</ul>