<!DOCTYPE html>
<html>
<head>
  <title>MentorProgram</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to 'Find Mentorship', users_path %></li>
    <li><%= link_to 'My Mentorships', mentorship_path(current_user) %></li>
  </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
